*{
    box-sizing:border-box;
    padding:0;
    margin:0;
  }

html{
    font-size: 62.5%;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.drawer{
    display: flex;
    flex-direction: column;
    border: 0.1rem solid magenta;
    width: 20rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.drawer-top{
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}
.drawer1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0rem 1.5rem;
    margin: 0 0.5rem;
    
}

.drawer1:hover, .drawer1:focus{
    cursor: pointer;
    background-color: #6200EEDE;
    border-radius: 0.5rem;
}

.drawer1:active{
    cursor: pointer;
    background-color: #6200EEDE;
}

.drawer1 .element{
display: flex;
flex-direction: row;
justify-content: center;
/* background-color: red; */
}

.drawer1 h3{
    margin-top: 0.5rem;
    margin-left: 2rem;
}


/* Header Component */

.header-component{
    height: 5rem;
    width: 100rem;
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.header-left{
width: 20rem;
display: flex;
flex-direction: row;
justify-content: space-around;
margin-left: 1rem;
}

.header-right{
width: 20rem;
display: flex;
flex-direction: row;
justify-content: space-around;
}

.header-right span:hover,span:focus{
    cursor: pointer;
    background-color: wheat;
    border-radius: 50%; 
}

.header-left span:hover,.header-left span:focus{
    cursor: pointer;
    background-color: wheat;
    border-radius: 50%;
}


/* Badge component */


.badge-component{
    background-color: wheat;
    width: 40rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.5rem;
    margin-bottom: 5rem;
    
}


.line1{
    position: relative;
    width: fit-content; 
    margin: 2rem 2rem;
}

.line1 .line1_child {
    background-color: red;
    padding: 0 0.5rem;
    border-radius: 50%;
    position: absolute;
    top: -1rem;
    right: -1.8rem;
  
  }

  .line2{
    position: relative;
    width: fit-content; 
    margin: 2rem 2rem; 
  }

.line2 .line2_child {
  background-color: red;
  padding: 0 1rem;
  font-size: 3rem;
  border-radius: 50%;
  position: absolute;
  top: -2.2rem;
  right: -3.1rem;

}

.badge-left,.badge-right{
    display: flex;
    flex-direction: row;
    margin: 2rem 2rem;
}

#button1{
    background: #3f51b5;
    color: white;
    padding: 0.4rem;
    margin-left: 1rem;
    padding: 1rem 1.5rem;
}

.badge-left-button{
    position: relative;
}

.badge-left-button .line3_child{
    background-color: red;
    padding: 0 0.5rem;
    border-radius: 50%;
    position: absolute;
    top: -1rem;
    left: -0.1rem;
}

.toggle-left-button {
    position: relative;
}
.toggle_child{
    background-color: red;
    padding: 0 0.5rem;
    border-radius: 50%;
    position: absolute;
    top: -1rem;
    right: -0.7rem;
}

.badge-left .icon1,.icon-badge{
    position: relative;
}

.badge_left_child{
    background-color: red;
    padding: 0 0.5rem;
    border-radius: 50%;
    position: absolute;
    top: -0.7rem;
    right: -0.7rem;
}

.snackbar{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    justify-content: space-around;
    margin-bottom: 5rem;
    width: 40rem;
    background: black;
    color: white;
    padding: 2rem 0rem;
    font-size: 1.5rem;
}




.snack_bar{
    padding: 0rem 0.5rem;
}

.snack_bar:hover,.snack_bar:focus{
    cursor: pointer;
    background-color: red;
    border-radius: 50%;
}

.mid{
    /* padding: 0.5rem 1rem; */
    color: royalblue;
}

.mid:hover,.mid:focus{
    cursor: pointer;
    background-color: lightblue;
    
}

/* Dialog */

.dialog{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90rem;
    height: 25rem;
    background: grey;
    margin-bottom: 5rem;
    


}

.alert{
    width: 24rem;
    height: 15rem;
    background: white;
    
    
}

.alert-action{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;          
    gap: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
}